*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'gilory';
}

html,body{
    height: 100%;
    width: 100%;
   
    overflow-x: initial;    
}
body::-webkit-scrollbar{
display: none;
}
.main{
    
    z-index: 10;
    

}

.page1{
 height: 100vh;
 width: 100%;
 padding: 0 2vw;
 background-color: #EFEAE3;
 z-index: 10;

 
}
/* for the top bar */
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 2vw;
}

.head .navbar{
    display: flex;
    align-items: center;
    gap:2vw;

}
.head .navbar h4{
padding: 2vh 2vh;
border: 1px solid rgba(88, 87, 87, 0.897);
border-radius: 50px;
position: relative;
overflow: hidden;
}
.head .navbar h4 a{
    text-decoration: none;
    color:rgba(0, 0, 0, 0.74);
    position: relative;
    z-index: 9;
   transition: all ease 0.3s;

}
.head .navbar h4::after{
content: '';
border-radius:50%;
height: 100%;
width: 100%;
position: absolute;
background-color: black;
left: 0;
bottom: -100%;
transition: all ease 0.4s;
}
.head .navbar h4::before{
content: '';
border-radius:50%;
height: 100%;
width: 100%;
position: absolute;
background-color: black;
left: 0;
top: -100%;
transition: all ease 0.4s;
}

.head .navbar h4:hover::after{
    bottom: 0;
    border-radius: 0;
}
.head .navbar h4:hover::before{
    top: 0;
    border-radius: 0;
}
.head .navbar h4:hover a{
    color:white;
}

/* this is for center hero */
.hero{
    height: 70vh;
    width: 100%;
    display: flex;
    border-bottom: 1px solid black;
   
}
.left{
    height: 100%;
    width:50%;
   
    text-align:start;
    align-content: end;
    padding-left: 2vw;
    padding-bottom: 3vw;
}
.left p{
    font-size: 25px;
   width:30vw;
    font-family: 'futura';
    line-height: 1.2;   
}
.right{
   
    height: 100%;
    width:50%;
    padding-top: 7vw;
}
.right h1{
    
    line-height: 1;
    font-family: 'futura';
    padding-right: 2vw;
    font-size: 9vw;
    text-align: end;
    
}
/* fro animation ball */
.anime{
 z-index: 2;
position: relative;
left: 60%;
top: -3%;

}
.hero1{
    height:40vw;
    width: 40vw;
    background-color:orangered;
    border-radius: 50%;
    filter: blur(50px);
    position: absolute;
    animation: anime 3s linear 0.1s infinite  alternate;
}


.hero2{
    height: 20vw;
    width: 30vw;
    position: absolute;
    background-color:rgba(235, 86, 33, 0.938);
    border-radius: 50%;
    filter: blur(50px);
    animation: anime 3s linear 0.1s infinite  alternate-reverse;
}

@keyframes anime {
 from{
    transform: translate(-25%, -15%);
 }    
 to{
    transform: translate(-40%,-30%);
 }
}
.hero3{
    
    height: 30vw;
    width: 30vw;
    position:absolute;
  top:-50%;
  left:20%;
    background-color: orangered;
     
     filter: blur(50px); 
    position: absolute; 
     animation: rota 5s linear 0.1s infinite  alternate-reverse; 
}
@keyframes rota {
    from{
       
        transform: rotate(-45deg);
      
    
    }
    to{
       
        transform: rotate(45deg);
       
    
    }
    
}

/* now page 2 */
.page2{
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100%;
    padding: 0 2vw;
    position: relative;
  

}
.page2 .vcover{
    width: 96%;
    height: 96%;
    
    z-index: 9;
    position: absolute;
    top: 2%;
    
   
}
.play{
    opacity: 0;
    font-size:1.3vw;
    text-align: center;
    z-index: 99;
   width:8%;
   position: fixed;
    background-color: rgba(48, 202, 34, 0.849);
    color:white;
    padding: 3vw 2.2vw; 
    font-family: futura;
    border-radius: 50%;
    
}

.page2 video{
    width: 100%;
    border-radius: 30px;
    object-fit: cover;
    position: relative;
    z-index: 2;
   
   
   
}
/* start page three */

.page3{
    background-color: #EFEAE3;
    padding: 8vw 0;
    min-height: 100vh;
    max-height: 150vh;
    width: 100%;
   
}
.page3 .balls{
   margin-top: 20%;
    height: 45vw;
    width: 40%;
    position: fixed;
  z-index: 1;
    left: 40%;
    
    padding: 2vw 2vw;
}

.bal1 {
    position: absolute;
    height: 500px;
    width: 500px;
    background-color:orangered; /* Match the initial animation color */
    border-radius: 50%;
    filter: blur(20px);
    animation-name: mueed;
    animation-duration: 3s;
    animation-iteration-count: infinite; /* Ensure it keeps repeating */
    animation-direction: alternate;
}
.bal2 {
    position: absolute;
    top: 10%;
    z-index: -1;
    height: 500px;
    width: 600px;
    background-color:orangered; /* Match the initial animation color */
    border-radius: 50%;
    filter: blur(20px);
    animation-name: mueed;
    animation-duration: 5s;
    animation-delay: 0.5s;
    animation-iteration-count: infinite; /* Ensure it keeps repeating */
    animation-direction: alternate-reverse;
}

@keyframes mueed {
    from{
        transform: translate(10%,-10);
        
    }
    to {
        transform: translate(-10%,10%);
        
    }
}











.moving-text{
   
white-space: nowrap;
    overflow-x: auto;
   
}
.moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    display: inline-block;
white-space: nowrap;
animation-name: move;
animation-duration: 12s;
animation-timing-function: linear;
animation-iteration-count: infinite;
}
@keyframes move{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

.moving-text h1{
   font-size: 9vw;
   margin: 0 1vh;
    display: inline-block;
}


.gola{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color:orangered;
    display: inline-block;
}

.center{
    height: 100vh;
    width: 100%;
    
    display: flex;
}
.center .left{
height: 100%;
width: 70%;
z-index:2 ;
text-align: left;
padding: 9vw 5vw;
display: flex;
align-items: start;
justify-content: center;
}
.center .left h1{
    font-size: 4.5vw;
    line-height: 1;
}
.center .right{
height: 100%;
width: 30%;
align-content: center;
padding-left: 5%;

}
.right img{
    
    width: 80%;
    
    border-radius: 20px;

}
.right P{
    padding-top: 7vh;
    font-size: 12PX;
    width: 80%;
    

}
.anme{
 
    position: relative;
   left:-60%;
   top:40%;
   z-index: -2;
    
    
    }
    .he1{
        height:30vw;
        width: 30vw;
        background-color: green;
        border-radius: 50%;
        filter: blur(20px);
        position: absolute;
        animation: anime 5s ease-in-out 0.1s infinite  alternate;
    }
    
    
    .he2{
        height:30vw;
        width: 30vw;
        position: absolute;
        background-color: green;
        border-radius: 50%;
        filter: blur(10px);
        animation: anime 5s ease-in-out 0.1s infinite  alternate-reverse;
    }
    
    @keyframes anime {
     from{
        transform: translate(-10%, -10%) skew();
     }    
     to{
        transform: translate(10%,10%) skew(-12deg);
     }
    }

    @media (max-width:600px) {
        
      
        .page1{
            height: 70vh;
            width: 100%;
            padding: 0 2vw;
            
           
            
           }
        .hero{
            height: 50vh;
            width: 100%;
            display: flex;
            flex-direction: column-reverse;
            border-bottom: 1px solid black;
           
        }
        .left{
            height: 100%;
            width:50%;
           
            text-align:start;
            align-content: end;
            padding-left: 2vw;
            padding-bottom: 3vw;
        }
        .left p{
            font-size: 25px;
            width:50vh;
            font-family: 'futura';
            line-height: 1.2;   
        }
        .right{
          
            height: 100%;
            width:100%;
            text-align: end;
            padding-top: 5vh;
            
           
           
        }
        .head .navbar{
            display: none;
           
            
        
        }
        .head .menu{
            display: block;
            position:absolute;
            left: -100%;
           
            
        
        }
        
        .page2{
   
            min-height: 50vh;
            width: 100%;
            padding: 0 2vw;
            position: relative;
        }
        .page2 .vcover{
            width: 96%;
            height: 96%;
            
            z-index: 9;
            position: absolute;
            top: 2%;
            object-fit: fill;
  
        }
        .page2 .vcover .play{
            font-size:1.3vw;
            text-align: center;
            z-index: 3;
           width:8%;
           position: sticky;
            background-color: rgba(48, 202, 34, 0.849);
            color:white;
            padding: 3vw 2.2vw; 
            font-family: futura;
            border-radius: 50%;
            opacity: 0;
        }
        
        .page2 video{
            width: 100%;
            height: 60vh;
            border-radius: 10px;
            object-fit: cover;
            position: relative;
            z-index: 2;
           
           
           
        }
        .right h1{
            
          
            font-family: 'futura';
          
            font-size: 14vw;
          
            
        }
        .page3{
            padding: 8vw 0;
            height: 60vh;
            width: 100%;

           
        }
        .center{
            height: 60vh;
            width: 100%;
            
            display: flex;
            flex-direction: column;
        }
        .center .left{
        height: 100%;
        width: 100%;
        text-align: left;
        padding: 5vw 5vw;
        display: flex;       
        align-items: start;
        justify-content: center;
       
        }
        .center .left h1{
            font-size: 6vw;
            line-height: 1;
        }
        .center .right{
        height: 100%;
        width: 80%;
        align-content: center;
        padding-left: 5%;
        z-index: 2;
        
        }
        .right img{
            
            width: 100%;
            
            border-radius: 20px;
        
        }
        .right P{
            padding-top: 2vh;
            font-size:20px;
            width: 90%;
            text-align: left;
            
        
        }
        .balls{
            
            margin-top:-100%;
            z-index: -3;
        }
        .bal1{
            background-color: orangered;
            margin-top:-50%;
            height: 400px;
            width:400px;
            
        }
        .bal2{
            background-color: orangered;
            margin-top:-50%;
            height: 400px;
            width:400px;
        }
        
        .moving-text h1{
            font-size: 9vw;
            margin: 0 1vh;
             display: inline-block;
         }
         
         
         .gola{
             height: 6vw;
             width: 6vw;
             border-radius: 50%;
             background-color:orangered;
             display: inline-block;
         }
    }

    /* page 4 */

    .page4{
        background-color: #EFEAE3;
        height: 100vh;
        width: 100%;
      


    }
    

    .page4 .elem{
        border-bottom:2px solid black ;
        width: 100%;
        height: 150px;
     
        position: relative;
        display: flex;
        align-items: center;
        padding: 0 2vw;
        overflow:hidden ;
      
       
    }

    .elem h2{
        font-size: 3vw;
        z-index: 2;

    }
    .elem .overlay{
        position: absolute;
        height: 100%;
        width:100% ;
        background-color:orange;
        z-index:1;
        left: 0px;
        top:-100%;
        transition: 0.3s ease-out;


    }

    .page4 .elem:hover .overlay{
        top:0;
    }
    .page4 .elem img{
        display: none;
    }

    .elem-container{
      
    }
    .fixed-image{
        height: 25vw;
        width: 20vw;
        background-color: aqua;
        position: fixed;
        border-radius: 20px;
        z-index: 99;
        left:70%;
        top: 35%;
        display: none;
        background-size: cover;
        background-position: center;
       transition: all ease-in 0.3s;
    }





    @media(max-width:600px){
        .page4{
            background-color: #EFEAE3;
            min-height: 300vh;
            width: 100%;
        }

        .page4 .elem{
           
            width: 100%;
            height:60vh;
          border: none;
            position: relative;
            display: flex;
            flex-direction: column-reverse;
            text-align: left;
            justify-content: flex-start;
            padding: 2vh;
           
          
           
        }
        .page4 .elem img{
            display: block;
            position: absolute;
            border-radius: 50px;
            height: 90%;
            padding: 3vh;
            width:100%;
            top:0;
        }
    
        .elem h2{
            
            font-size: 8vw;
            z-index: 2;
            text-align: right;
            position: absolute;
                    
    
        }
        .elem .overlay{
            display: none;
    
    
        }





    }
    
    .page5{
        background-color: #EFEAE3;
        
        height: 100vh;
        width:100%;
       display: flex;
      
    }
    .p5center{
         background-color: #EFEAE3;
        background-color: black;
        height: 100vh;
        width:100%;
       display: flex;
       border-radius: 20px;
    }
    .page5 .left{
        height: 100%;
        width:40%;
        
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 8vw 0;
     

    }
    .page5 .left .heading{
        width: 25vw;
        height:20vw;
       
        color: aliceblue;
        border-left: 2px solid gray;
        padding-left: 2vw;
    }
    .page5 .left .heading h1{
        font-size: 5vw;

    }
    .page5 .left .heading h1:hover{
        color: gray;

    }
    .page5 .left .heading a{
        font-size: 5vw;
        text-decoration: none;
        color: aliceblue;

    }
    .page5 .left .textbar{
        top:1%;
        width: 25vw;
        height:20vw;
       position: relative;
       
        background-color: black;
        color: aliceblue;
        
    }
    .page5 .left .textbar p{
        width: 95%;
        font-size: 15px;
        position: absolute;
    }
    .page5 .p5right{
       height: 100%;
       width: 60%;
       transition: all ease 1s;
        /* background-image: url('https://sundown-ivory.vercel.app/page4-1.webp'); */
        border-radius: 20px;


    }
    @media (max-width:600px) {
        .page5{
            background-color: #EFEAE3;
             
             height: 100vh;
             width:100%;
             padding: 4vw 4vw;
             overflow: hidden;
            
         }
         .p5center{
            
             background-color: black;
             height: 90vh;
             width:100%;
            display: flex;
            flex-direction: column;
            border-radius: 20px;
            overflow: hidden;
         }
         .page5 .left{
             
             height: 50%;
             width:100%;
             position: relative;
             display: flex;
             align-items: center;
             flex-direction: column;
             padding: 8vw ;
          
     
         }
         .page5 .left .heading{
             width: 100%;
             height:20vw;
            left: 12%;
             
             position: absolute;
             color: aliceblue;
             border-left: 2px solid gray;
             
         }
         .page5 .left .heading h1{
             font-size: 6vw;
             padding-left: 5vw;
     
         }
         .page5 .left .heading h1:hover{
            color: gray;
         }
         .page5 .left .heading a{
             font-size: 5vw;
             text-decoration: none;
             color: aliceblue;
     
         }
         .page5 .left .textbar{
             top:50%;
             width: 70vw;
             height:30%;
             
            position:absolute;
            
             color: aliceblue;
             
         }
         .page5 .left .textbar p{
             width: 95%;
             font-size: 15px;
             position: absolute;
             font-weight:normal;
         }
         .page5 .p5right{
            height: 50%;
            width: 100%;
             background-image: url('https://sundown-ivory.vercel.app/page4-1.webp');
             border-radius: 20px;
             background-position: center;
             object-fit: fill;
     
     
         }
        
    }
    
    .page7{
        height: 100vh;
        width: 100%;
    }

    .footer{
        height: 100vh;
        width: 100%;
        bottom: 0;
        position: fixed;
        z-index: -1;
        background-color: black;
        color: aliceblue;
        padding: 0 1vw;
        }

    .footer .f-head{
       
        padding: 4vw 4vw;
        display:flex ;
        justify-content: space-between;
        align-items: center;
        

    }
    .h-list{
        font-size: 20px;
       
    }
    .h-email{
       
        position: relative;
        height: 100%;
        width:25%;
    }
    .footer p{
        font-size: 20px;
        color: white;
    }

    .footer input{
        height: 40px;
       margin-top: 30px;
       width: 100%;
        border:none;
        border-bottom: 2px solid gray;
        color:gray;
        padding: 0.5vw 0;
        font-size: 20px;
        background-color: transparent;
        
    }
    .footer .f-center{
        height: 50%;
        width:100%;
       
        color:white;
        
       
        
       
    }

    .f-center h1{
       
        color:white;
       text-align: center;
       font-size: 24vw; 
       
    }
    
    .f-end{
        border-top: 1px solid gray;
        padding:1vw 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .anidiv{
        height:60%;
        width:100%;
       
        position: fixed;
        display: flex;
        z-index: -1;
        filter: blur(20px);
       
    }
    .anileft{
        top:-40%;
        left: -20%;
        height:110%;
        width:80%;
        background-color: orangered;
        position: fixed;
        z-index: -1;
        transform: rotate(-15deg);
        filter: blur(20px);
        animation-name: ani;
        animation-duration: 3s;
        animation-iteration-count: infinite;
      animation-direction: alternate;
    }
    .aniright{
        top:18%;
       left: 50%;
        height:120%;
        width:100%;
        background-color: orangered;
        position: fixed;
        z-index: -1;
        transform: rotate(45deg);
        filter: blur(20px);
       animation-name: ani2;
       animation-duration: 3s;
       animation-iteration-count: infinite;
     animation-direction: alternate-reverse;
    }

    @keyframes ani {
        from{
            transform: rotate(-15deg);
        
        }
        to{
            transform: rotate(-15deg);
        
        }
        
    }
    @keyframes ani2 {
        from{
            transform: rotate(45deg);
           
        }
        to{
            transform: rotate(40deg);
            
        }
        
    }
    .page6{
        height: 80vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw 2vw;

    }



    .swiper {
        width: 100%;
        height: 100%;
      }
  
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        
        width: 30%;
        border-left: 2px solid gray;
        display: flex;
        flex-direction: column;
        padding-left: 2vw;
      }
  
      .swiper-slide img {
        display: block;
        width: 50%;
        height: 50%;

      }
      .swiper-slide p {
        margin-top: 0%;
        width: 70%;
        height: 80%;
        text-align: left;
        font-size: 22px;

      }
  
      
  
      @media (max-width:600px) {

        .page6{
            height: 50vh;
        }
        .swiper-slide {
            text-align: center;
            font-size: 18px;
            
            width: 50%;
            border-left: 2px solid gray;
            display: flex;
            flex-direction: column;
            padding-left: 2vw;
          }
        
      }


      @media (max-width:962px) {
        .page1{
            height: 100vh;
            width: 100%;
            padding: 0 2vw;
            background-color: #EFEAE3;
            z-index: 10;}
            .left{
                height: 100%;
                width:50%;
               
                text-align:start;
                align-content: end;
                padding-left: 2vw;
                padding-bottom: 5vw;
            }
                .left p{
                    font-size: 18px;
                    width:50vh;
                    font-family: 'futura';
                    line-height: 1.2;   
                }
                .right{
                  
                    height: 100%;
                    width:100%;
                    text-align: end;
                    padding-top: 18vw;
                    
                   
                   

                }
             
                    .page2 {
                        
                        height: 70vh;
                        width: 100%;
                        padding: 1vw 2vw;
                       
                        overflow: hidden;
                       
                    }
                .page2 .vcover{
                    width: 96%;
                    height: 96%;
                    
                    z-index: 9;
                    position: absolute;
                    top: 2%;
                    
                   
                }
                
                .page2 video{
                    width: 100%;
                    height: 100%;
                    border-radius: 30px;
                    object-fit: cover;
                    position: relative;
                    z-index: 2;
                }
                   

      }